* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    font-family: "Inter", sans-serif;
}

.html {
    scroll-behavior: smooth;
}

.body {
    width: 80%;
    font-family: "Inter", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Merriweather;
}

/* header start */
.header {
    margin: 20px auto;
    width: 80%;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
        url(../resources/Banner\ Image.png);
    background-position: top center;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    padding: 100px 0px;

    & h2 {
        color: #fff;
        font-size: 26px;
        font-weight: 400;
        margin: 40px 0px 20px;
    }

    & h1 {
        color: #fff;
        font-size: 50px;
        font-weight: 900;
        line-height: 65px;
        letter-spacing: 0.5px;
        margin: 0px 0px 40px;
    }
}
/* header end */

/* banner1 start */
.banner1 {
    margin: 10px auto;
    text-align: center;
    padding: 100px 0px;

    & h2 {
        font-family: Inter;
        color: #F00;
        font-size: 60px;
        font-weight: 700;
        margin: 40px 0px 25px;
        letter-spacing: 0.5px;
    }

    & h5 {
        font-family: Inter;
        color: #F00;
        font-size: 20px;
        font-weight: 500;
    }
    & h3{
        font-family: Inter;
        color: #070211;
        font-size: 40px;
        font-weight: 700;
        margin: 10px 0px 30px;
    }
    & img {
        width: 45%;
        margin: 20px auto;
        transition:all 0.5s ease-in-out;
    }
    & img:hover {
        transform: scale(1.05);
    }
}
/* banner1 end */