* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    font-family: "Inter", sans-serif;
}

.html {
    scroll-behavior: smooth;
}
a, a:hover{
    text-decoration: none;
}

img {
    max-width: 100%;
}

.body {
    width: 80%;
    font-family: "Inter", sans-serif;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Merriweather;
}

.btn-primary{
    background-color: #F00;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px; 
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1.5px solid #F00;
    cursor: pointer;
    transition:all 0.75s ;
}
& .btn-primary:hover{
    background-color: #FFF;
    color: #F00;
    border:1.5px solid #F00;
}

/* header start */
.header {
    margin: 20px auto;
    width: 80%;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
        url(../resources/Banner\ Image.png);
    background-position: top center;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    padding: 100px 0px;

    & h2 {
        color: #fff;
        font-size: 26px;
        font-weight: 400;
        margin: 40px 0px 20px;
    }

    & h1 {
        color: #fff;
        font-size: 50px;
        font-weight: 900;
        line-height: 65px;
        letter-spacing: 1.5px;
        margin: 0px 0px 40px;
    }
}
/* header end */

/* banner1 start */
.banner1 {
    margin: 10px auto;
    text-align: center;
    padding: 100px 0px;

    & h2 {
        font-family: Inter;
        color: #F00;
        font-size: 60px;
        font-weight: 700;
        margin: 40px 0px 25px;
        letter-spacing: 0.5px;
    }

    & h5 {
        font-family: Inter;
        color: #F00;
        font-size: 20px;
        font-weight: 500;
    }
    & h3{
        font-family: Inter;
        color: #070211;
        font-size: 40px;
        font-weight: 700;
        margin: 10px 0px 30px;
    }
    & img {
        width: 45%;
        margin: 20px auto;
        transition:all 0.5s ease-in-out;
    }
    & img:hover {
        transform: scale(1.05);
    }
}
/* banner1 end */

/* banner2 start */
.banner2:hover{
    transform: scale(1.005);
}
.banner2 img{
    transition:all 0.5s ease-in-out;
}
.banner2:hover img{
    rotate: 365deg;
}
.banner2{
    position: relative;
    display: flex;
    margin: 20px auto;
    width: 80%;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 80%),
        url(../resources/Vectorrr.png);
    background-position: top center;
    background-size: cover;
    border-radius: 16px;
    padding: 100px 0px;
    transition:all .75s ease-in-out; 

    & .right-pic img{
        width: 25%;
        position: absolute;
        right: 60px;
        bottom: 35px;
    }

    & .banner-content{
        text-align: left;
        padding: 0px 10px 0px 60px;
    }
   
    & h2{
        color: #FFF;
        font-size: 50px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 3px;
        margin: 0px 0px 20px;
    }
    & p{
        color: rgba(255, 255, 255, 0.80);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; 
        letter-spacing: 1px;
        margin: 0px 0px 30px;
    }
}
/* banner2 end */

/* banner3 start */
.banner3{
    width: 80%;
    margin: 90px auto;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%) ;
    text-align: center;
    border-radius: 16px;
    padding: 80px 0px;
    transition:all .75s ease-in-out; 
 
    & p{
        color: #070211;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 46px;
        text-transform: capitalize;
    }
    & span{
        color: #F00;
        font-size: 24px;
        font-weight: 600;
        line-height: 34px;
        text-transform: capitalize;
    }
    & #b3-btn{
        margin: 0px 0px 40px;
    }
}
/* banner3 end */

/* banner4 start */
.banner4{
    width: 80%;
    padding: 20px 0px 80px;
    margin: 20px auto;

    & .inner-banner4{
        display: flex;
        align-items: center;
    }

    & .banner4-box{
        display: flex;
        flex-basis: 33%;
        margin: 0px 10px 0px;
        border-radius: 5px;
        padding: 0px 1px;
    }
    

    & h5{
        font-family: Inter;
        color: #F00;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }

    & .img-box{
        width: 90%;
        padding: 20px;
        margin: 0px 15px;
        border: 10px solid red;
        border-radius: 100%;
    }
    & .img-box img{
        width: 100%;
        border-radius: 100%;
        transition:all 0.5s ease-in-out;
    }
    & .img-box:hover img{
        rotate:calc(360deg + 360deg);
        transform: scale(1.1);
    }
    & h3{
        color: #F00;
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    & h4{
        font-size: 28px;
        color: #070211;
        font-weight: 900;
        line-height: 1.2em ;
        margin: 5px 0px 15px;
        text-transform: capitalize;
    }
    & p{
        font-size: 12px;
        line-height: 20px;
        color: rgba(7, 2, 17, 0.60);
        margin: 0px 10px 10px 0px;
    }
}
.banner4:hover .ny{
    transform: rotate(10deg);
}
/* banner4 end */

/* banner5 start */
.banner5{
    margin: 10px auto;
    text-align: center;
    padding: 100px 0px;

    & h2{
        font-family: Inter;
        color: #070211;
        font-size: 20px;
        font-weight: 500;
        margin: 0px 0px 10px;
    }
    & h5 span{
        font-family: Merriweather;
        color: #F00;
        font-size: 60px;
        font-weight: 900;
    }
    & h5{
        color: #070211;
        font-family: Merriweather;
        font-size: 60px;
        font-weight: 900;
    }
    & p{
        color: rgba(7, 2, 17, 0.60);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; 
        letter-spacing: .75px;
        margin: 20px 0px 60px;
    }

    & .banner-pic img{
        width: 80%;
        margin: 20px auto;
        border-radius: 8px;
    }
}
/* banner5 end */

/* banner6 start */
.banner6{
    width: 80%;
    padding: 40px 0px 80px;
    margin: 20px auto;

    & .inner-banner6{
        display: flex;
        flex-wrap: wrap;
    }

    & .banner6-box{
        width: 32%;
        margin: 0px 10px 15px 0px;
        border-radius: 5px;
    }
    

    & h5{
        font-family: Inter;
        color: #F00;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    }

    & .img-box{
        flex-basis: 32%;
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        transition: all 0.5s;
        margin: 0px 5px;
    }
    & .img-box img{
        width: 100%;
        transition:all 0.5s ease-in-out;
    }

    & .layer:hover {
        border-radius: 10px;
        margin-bottom: 30px;
        transform: translateX(-2px) translateY(-5px);
        background: rgba(226,0,0,0.7);
    }
    & .layer {
        background: transparent;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s;
    }
    & .layer h3 span {
        font-size: 14px;
    }
    & .layer:hover h3, span {
        bottom: 40%;
        opacity: 1;
    }
    & .layer h3 {
        width: 100%;
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        bottom: 0;
        left: 60%;
        transform: translateX(-50%);
        position: absolute;
        opacity: 0;
        transition: 0.5s;
    }
    & .img-box:hover img{
        transform: translateX(-2px) translateY(-5px);
    }
    & h3{
        color: #F00;
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    & h4{
        font-size: 40px;
        color: #070211;
        font-weight: 900;
        line-height: 1.2em ;
        margin: 15px 0px 20px;
        text-transform: capitalize;
    }
    & p{
        font-size: 16px;
        line-height: 26px;
        color: rgba(7, 2, 17, 0.60);
        margin: 0px 10px 60px 0px;
    }
}
/* banner6 end */

/* banner7 start */
.banner7{
    width: 80%;
    margin: 90px auto;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    border-radius: 16px;
    padding: 80px 0px;
    transition:all .75s ease-in-out; 
 
    & p{
        font-size: 16px;
        line-height: 26px;
        color: rgba(7, 2, 17, 0.60);
        margin: 0px 10px 60px 0px;
    }
    & h2{
        color: #070211;
        font-size: 30px;
        font-weight: 900;
        text-transform: capitalize;
        margin: 20px 0px 15px;
    }
    & #b3-btn{
        margin: 0px 0px 40px;
    }

    & img{
        width: 80px;
        transition: all 0.5s;
    }
    & input {
        width: 29%;
        padding: 12px 20px;
        border-radius: 30px 0px 0px 30px;
        border: 1.5px solid #Fff;
        margin: 0px -5px 20px 0px;
    }
    & input:focus{
        outline: none;
    }
    & .btn-primary{
        width: 30%;
        text-transform: capitalize;
        padding: 10px 20px;
        border-radius: 0px 30px 30px 0px;
        border: 1.5px solid #F00;
        margin: 0px 0px 20px 0px;
    }
}
.banner7:hover img{
    transform: scale(1.1);
}
/* banner7 end */

/* footer start */


.footer{
    width: 100%;
    margin: 60px auto 0px;
    background: #070211;
    color: #FFF;
    text-align: center;
    padding: 80px 0px 40px;
    line-height: 1.7em;
    transition:all .75s ease-in-out; 

    & .footer1 , .footer3{
        width: 80%;
        margin: 0px auto 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: left;

        & .box2 img{
            width: 15px;
            margin: 0px 5px;
            padding-top: 1px;
        }
    }
    & .footer3{
        margin: 40px auto 0px;
    }
    & p{
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 26px;
    }
    & a{
        color: #FFF;
    }
    & hr{
        width: 80%;
        background: rgba(255, 255, 255, 0.15);
        color: #eee;
        margin: 30px auto;
    }
    & img{
        width: 55px;
        margin: 10px 10px;
    }
    & img:hover{
        transform: scale(1.1);
    }
}

/* footer end */

/* top bar start */
.top {
    padding: 1px;
    width: 45px;
    height: 45px;
    border-radius: 20%;
    position: fixed;
    top: 86%;
    right: 0%;
    background-color: #F00;
    border-radius: 8px;
    transition: 1s;
}
.top:hover {
    right: 5px;
    cursor: pointer;
    background: #F00;
    border-radius: 50%;
}
/* top bar end */